.Hero-banner-about {
  background-image: url("../img/aboutusbackground.jpg");
}

.box-sphere-about {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.font-header-about {
  margin-top: 2rem;
  font-size: 70px;
  color: white;
  width: 850px;
}

.font-information-about {
  color: white;
  margin-top: 3.5rem;
  width: 550px;
  line-height: 25px;
}

.sphere-developer-about {
  display: flex;
  margin: 5rem 5rem;
}

.developer {
  font-size: 80px;
  height: 110rem;
  color: white;
  left: 93%;
  writing-mode: vertical-lr;
}

.developer-about h1 {
  margin-top: 1.5rem;
}

.developer-box-about {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.box-about {
  display: flex;
  margin: 2rem 3rem 1rem 2rem;
  width: 1500px;
  height: 300px;
  color: white;
  border-radius: 10px;
  background-color: #242424;
}

.box-about img {
  margin: 3rem;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.information-ris {
  margin-left: 2rem;
  margin-top: 3rem;
  list-style: none;
  line-height: 35px;
}

.information-nut {
  margin-left: 2rem;
  margin-top: 3rem;
  list-style: none;
  line-height: 35px;
}

.information-jom {
  margin-left: 2rem;
  margin-top: 3rem;
  list-style: none;
  line-height: 35px;
}

.information-first {
  margin-left: 2rem;
  margin-top: 3rem;
  list-style: none;
  line-height: 35px;
}

.quote-r h4 {
  font-size: 20px;
  color: gray;
  margin-top: 8.5rem;
  margin-left: 12rem;
}

.quote-n h4 {
  font-size: 20px;
  color: gray;
  margin-top: 8.5rem;
  margin-left: 14rem;
}

.quote-j h4 {
  font-size: 20px;
  color: gray;
  margin-top: 8.5rem;
  margin-left: 12rem;
}

.quote-f h4 {
  font-size: 20px;
  color: gray;
  margin-top: 8.5rem;
  margin-left: 4rem;
}
