
.Hero-banner {
    background-image: url("../img/aboutusbackground.jpg");
}

.box-sphere {
    display: flex;
    justify-content: center;
}

.font-header {
    margin-top: 2rem;
    font-size: 70px;
    color: white;
    width: 850px;
}

.font-information {
    color: white;
    margin-top: 3.5rem;
    width: 550px;
    line-height: 25px;
}

.hr {
    margin: 4rem 4rem 4rem 4rem;
    width: auto;
}

.sphere-developer {
    display: flex;
    margin: 5rem 5rem;
}

.developer {
    font-size: 70px;
    height: 100rem;
    color: white;
    left: 93%;
    writing-mode: vertical-lr;
}

.developer h1 {
    margin-right: 2rem;
}

.developer-box {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.box {
    margin: 1rem;
    border-radius: 10px;
    width: 1550px;
    height: 300px;
    color: white;
    background-color: #313131;
    backdrop-filter: blur(5px);
}

.box p {
    margin: 2rem 2rem 2rem 2rem;
    justify-content: center;
    align-items: center;
}

