
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.homepage {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 250px;
}

.search-container {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    padding-top: 75px;
    padding-left: 400px;
    font-style: italic;
}

.search-container p {
    padding-bottom: 13px;
}

.search-bar {
    color: black;
    font-size: 18px;
    padding: 15px;
    display: block;
    width: 420px;
    height: 40px;
    border: none;
    outline: none;
    appearance: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    font-style: italic;
}

.right-info {
    color: #FFFFFF;
    display: grid;
    grid-template-rows: 50px 110px 50px;
}

.right-info .date {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 45px;
}

.right-info .temp {
    font-size: 100px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.temp img {
    width: auto;
    height: auto;
}

.right-info .location {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.header-logo {
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-left: 200px;
}

.header-logo h4 {
    padding: 10px;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    font-size: 20px;
    padding-left: 200px; 
}

.sphere-blog p {
    font-size: 14px;
}

.sphere-blog h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 2px white;
}

.img-whatssphere img {
    width: 600px;
    border-radius: 10px;
    display: block;
    border: none;
    outline: none;
    appearance: none;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.weathernews-content {
    width: 1500px;
    margin: 3rem auto;
    height: 350px;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #1C1E26;
    display: grid;
    grid-template-columns: 50% 48% 2%;
}

.sevdays-forecast {
    display: flex;
    color: black;
    width: 600px;
    height: 250px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: 50px;
    left: 70px;
}

.sevdays-forecast img {
    width: 600px;
    border-radius: 8px;
}

.weather-news {
    color: #FFFFFF;
    display: block;
    margin: 3rem 3rem 3rem auto;
}

.dots {
    margin: auto;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.recent-warning {
    width: 1500px;
    margin: 3rem auto;
    height: 350px;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #1C1E26;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #E1E1E1;
}