.container {
    max-width: 960px;
    margin: 0 auto;
}

.article-con {
    display: flex;
    justify-content: space-between;
}

.article-con:first-child, .article-con:last-child {
    padding:  5rem 0;
}

.article-l img {
    width: 100%;
    border-radius: 10px;
    height: 500px;
}

.article-r {
    padding: 2rem;
    text-align: left;
}