<<<<<<< Updated upstream
=======
<<<<<<< HEAD
.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background: #333;
  height: 80px;
}

.header-con {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.logo-container a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  padding-right: 2rem;
}

.menu li a {
  text-decoration: none;
  color: #fff;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 480px) {
  .mobile-menu {
    display: block;
    color: #fff;
    font-size: 2rem;
  }
  .header {
    padding: 0 2rem;
  }
  .menu {
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 60px;
    transition: 0.5s ease;
    background: #111;
  }
}
=======
>>>>>>> Stashed changes

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
}

.navbar {
    max-width: 1800px;
    margin: 0 auto;
}

nav {
    background-color: #1C1E26;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    padding: 10px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

img {
    width: 40px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h4 {
    color: #FFFFFF;
    padding: 10px;
}

.logo p {
    color: #FFFFFF;
    font-size: 12px;
<<<<<<< Updated upstream
}
=======
}
>>>>>>> 9fa9d20ef72ca8119d8ae17e7f765a3ef3853740
>>>>>>> Stashed changes
