.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background: #333;
  height: 80px;
}

.header-con {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.logo-container a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  padding-right: 2rem;
}

.menu li a {
  text-decoration: none;
  color: #fff;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 480px) {
  .mobile-menu {
    display: block;
    color: #fff;
    font-size: 2rem;
  }
  .header {
    padding: 0 2rem;
  }
  .menu {
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 60px;
    transition: 0.5s ease;
    background: #111;
  }
}
