* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inria Sans", sans-serif;
}

.navbar {
  max-width: 1350px;
  margin: 0 auto;
}

nav {
  background-color: #1c1e26;
}

.nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  padding: 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  width: 40px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h4 {
  color: #ffffff;
  padding: 10px;
}

.logo p {
  color: #ffffff;
  font-size: 12px;
}
